<html>
<head>
  <meta charset="utf-8">
  <title>CloudThat Employee Eligiblity</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script>
  $('.emptbtn').click(function() {
    $.ajax({
        type: 'POST',
        url: 'http://localhost:3000/userslogin'
    });
});
  </script>
  <style>
    .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: "#ffffff"
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .btns{
    margin-top: 300px;
  }

  .navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  }

  </style>
</head>
<body>
  <nav class="navbar navbar-light text-center">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fd5q4akjun1yjt.cloudfront.net%2Fassets%2FCT_logo-396x258.png&f=1" height="90" width="110" class="d-inline-block align-top" alt="">
        <p style="padding-top: 10px;">CloudThat Employee Eligiblity</p>
  </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid text-center btns">

  <button type="button" class="btn btn-outline-primary btn-lg empbtn">Employee Registration</button>
  <button type="button" class="btn btn-outline-secondary btn-lg adminbtn">Administrator Login</button>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<html>
